.gradient-background{
    position : absolute;
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    top : 0;
    left: 0;
    right : 0;
    bottom : 0;
}
.turntable{
  position: absolute;
  margin: auto;
  inset : 0 0 0 0;
  width: 400px;
  height: 300px;
  background: #EBEBEB;
  border-radius: 20px;
}
.disc{
    position: absolute;
  margin: auto;
  inset : 0 0 0 0;
  width: 230px;
  height: 230px;
  background: #2D3E4F;
  border-radius: 50%;
}
.disc::after{
    content : "";
    position : absolute;
    margin : auto;
    inset : 0 0 0 ;
    border-radius: 50%;
    width:8px;
    height : 8px;
    background : #EBEBEB;
}
.label{
    position : absolute;
    background-image: url('bg.jpeg');
    margin : auto;
    inset : 0 0 0 0;
    border-radius : 50%;
    width : 100px; height : 100px;
    background-size: cover;
}
.label::before,
.label::after {
  content: ;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
}
.label::before {
    width: 90px;
    height: 90px;
    background: #FFD166;
    border: solid 1px #FF4D80;
  }
  .label::after {
    width: 80px;
    height: 40px;
    bottom: 40px;
    background: #FF4D80;
    border-radius: 40px 40px 0 0;
  }
  .disc-font{
    font-family : Roboto, Arial, Sans-serif;
    font-size: 0.5em;
    text-align: center;
    z-index: 10;
    position: absolute;
    color: #331832;
    display:none;
  }
  .disc-title {
    margin: 20px;
    font-weight: bold;
  }
  .disc-group {
    top: 65px;
    left: 20px;
    width: 60px;
  }
  .buttons {
    position: absolute;
    margin: auto;
    top: 250px;
    left: 260px;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background: #FECB2F;
    border-radius: 50%;
  }
  
  .buttons:before,
  .buttons:after {
    content: "";
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  
  .buttons:before {
    background: #FF4B3E;
    left: 20px;
  }
  
  .buttons:after {
    background: #FF784F;
    left: 40px;
  }
  .tone-arm {
    position: absolute;
    margin: auto;
    top: 0;
    left: 280px;
    bottom: 220px;
    right: 0;
    width: 20px;
    height: 40px;
    background: #b7b6b6;
    border-radius: 10%;
    transform: rotate(20deg);
  }
  .tone-arm:before,
.tone-arm:after {
  content: "";
  position: absolute;
  margin: auto;
  background: #b7b6b6;
}
.tone-arm:before {
    left: 0;
    right: 1px;
    top: 40px;
    width: 7px;
    height: 120px;
  }
  .tone-arm:after {
    left: -2px;
    right: 0;
    bottom: 0;
    top: 170px;
    width: 20px;
    height: 30px;
    border-radius: 20%;
  }
  .disc-reflection-left, .disc-reflection-right {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
  }
  .disc-reflection-left {
    background-color: #36495d;
    clip-path: polygon(50% 50%, 0 75%, 10% 100%);
  }
  .disc-reflection-right {
    background-color: #36495d;
    clip-path: polygon(90% 0, 50% 50%, 100% 25%);
  }
  .disc-groove {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: solid 2px #2D3E4F;
  }
  .disc-groove:before, .disc-groove:after {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border: solid 2px #2D3E4F;
  }
  
  .disc-groove:before{
    content: "";
    width: 180px;
    height: 180px;
  }
  
  .disc-groove:after {
    content: "";
    width: 160px;
    height: 160px;
  }
  .spin {
    animation : spin 8s linear infinite;
  }
  @keyframes spin {
    from{
        transform : rotate(0deg);
    }
    to{
        transform : rotate(360deg)
    }
  }
  .oscillating {
    animation : oscillating 2s ease-in infinite;
  }
  @keyframes oscillating {
    0% { transform: rotate(20deg); }
    30% { transform: rotate(22deg); }
    60% { transform: rotate(20deg); }
    90% { transform: rotate(20.5deg); }
    100% { transform: rotate(20deg); }
  }